body {
  background-color: rgb(209, 204, 204);
}
.templateContainer {
  margin: 5% 0;
}
.templateContainer > .searchInput_Container {
   display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
}
.templateContainer > .searchInput_Container input {
  width: 100%;
  /* padding: 10px; */
  outline: none;
  /* border-radius: 10px;
  border: none; */

  color: black;
 border: 2px solid rgba(79, 77, 77, 0.988);
 border-radius: 10px;
 padding: 10px;
 background: transparent;
 /* max-width: 190px; */
}

.templateContainer .template_Container .template {
  background-color: white;
  margin: 30px;
  padding: 30px ;
  border-radius: 10px;
  max-width: 300px;
}

.template_Container {

  display: flex;
  flex-wrap: wrap;
  
}




/* -----------------loader----------------------------- */
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #7265c8;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top:350px;
  left: 45%;
  width: var(--uib-size);
  height: var(--uib-size);
 }
 
 .newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
 }
 
 .newtons-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
 }
 
 .newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
 }
 
 .newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
 }
 
 @keyframes swing {
  0% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }
 
  25% {
   transform: rotate(70deg);
   animation-timing-function: ease-in;
  }
 
  50% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 }
 
 @keyframes swing2 {
  0% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 
  50% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }
 
  75% {
   transform: rotate(-70deg);
   animation-timing-function: ease-in;
  }
 }






